<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="ReferenceType1.Tourist" name="t1">
		<property name="id" value="1"></property>
		<property name="name" value="Amit"></property>
		<property name="country" ref="c1"></property>
	</bean>

	<bean class="ReferenceType1.Country" name="c1">
		<property name="cid" value="01"></property>
		<property name="cname" value="India"></property>

	</bean>

	<bean class="ReferenceType1.Country" name="c2">
		<property name="cid" value="02"></property>
		<property name="cname" value="America"></property>


	</bean>



</beans>
	